// This will hold the SASS variables used inside of the App
// Need to import this onto every SCSS file to be useable

$bg-primary: #333;
$bg-secondary: deepskyblue;
$bg-white: rgb(245, 245, 245);

$font-title: 'Girassol', cursive;
$font-content: 'Lato', sans-serif;