@import '../variables.scss';

header{
  background-color: $bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $bg-white;
  font-family: $font-title;

  h1{
    padding: 10px 30px;
  }

  nav ul{
    display: flex;

    li a{
      height: 64px;
      display: grid;
      place-items: center center;
      padding: 0px 16px;
      font-size: 18px;
      color: $bg-white;

      &:hover{
        background-color: $bg-secondary;
        color: black;
      }
    }
  }


}